◊(require '[expressions.pages :refer [title]]
          '[expressions.utils :refer [inspect]]
          '[expressions.meta  :refer [embed]])
◊(def post-body)«
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    ◊(let [attrs {:class "post-title" :itemprop "name headline"}
           more-attrs (if-let [d (:description frontmatter)]
            (assoc attrs :description d) attrs)]
      (when-let [t (title frontmatter)]
        (html [:h1 more-attrs (hiccup.util/raw-string t)])))
    <p class="post-meta">
      <time datetime="◊(:date frontmatter)" itemprop="datePublished">
        ◊(:date frontmatter)
      </time>
      ◊(when-let [a (:author frontmatter)])«
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">◊a</span></span>
      »
      ◊(when-let [aud (-> frontmatter :extra :audience)])«
        • audience—◊aud
      »
      ◊(for [[term tags] (:taxonomies frontmatter)
             :when (= :tags term)
             tag tags])«
        • <a href="/tags/◊tag">◊tag</a>
      »
    </p>
  </header>

  ◊(when (or (:draft frontmatter) (-> frontmatter :extra :draft)))«
  <aside class=secret><button class=close aria-label=Close title="Click here to dismiss">
    <strong>This is a draft post.</strong>
  </button></aside>
  »

  ◊(when-let [depth (-> frontmatter :toc)])«
    <flower-toc depth=◊depth></flower-toc>
  »

  <div class="post-content" itemprop="articleBody">
    ◊content
  </div>
</article>
»

◊(embed "base.html" {'content post-body})
