<!DOCTYPE html>
◊; NOTE: doctype must always be the first line of the document, it cannot be preceded by whitespace
◊(require '[expressions.constants :refer [lang site-author site-title global-desc]]
          '[flower.fs :as fs])
<html lang=◊lang>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name=description content="◊(or (:description page) global-desc)" />
    <meta name="author" content="◊site-author" />
    <title>◊site-title</title>
    ◊(if (fs/exists? "pages/atom.xml"))«
      <link rel="alternate" type="application/atom+xml" title="◊site-title" href="/atom.xml">
    »
    ◊(if (fs/exists? "static/favicon.jpg"))«
    <link rel="icon" type="image/x-icon" href="/favicon.jpg?v=◊(hash "static/favicon.jpg")">
    »
    <link rel="stylesheet" href='/main.css?v=◊(hash "static/main.css")'>
    ◊; NOTE: css lives in base.html, since you might not want it on 404 pages
    ◊(if (resolve 'head) (eval 'head))
  </head>
  <body>
    ◊content
    ◊(if-let [port flower.reflect/*watch-port*])«
      <script>document.write('<script src="http://'
      + (location.host || 'localhost').split(':')[0]
      + ':◊(print-str port)/livereload.js?snipver=1"></'
      + 'script>')</script>
    »
  </body>
</html>
