<!DOCTYPE html>
◊(use 'expressions.constants)
◊(require '[expressions.meta :refer [locals]]
'[flower.fs :as fs])
<html lang=◊lang>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name=description content="◊(or (:description page) global-desc)" />
  <meta name="author" content="◊site-author" />
  <title>◊site-title</title>
  ◊(if (fs/exists? "static/favicon.jpg"))«
  <link rel="icon" href="/favicon.jpg?v=◊(hash " static/favicon.jpg")">
  »
  <link rel="stylesheet" href="/main.css">
  ◊; This pulls the 'head' key from the map passed in (embed)
  ◊('head (locals))
</head>

<body>
  ◊content
  ◊(if-let [port flower.reflect/*watch-port*])«
  <script src="http://localhost:◊(print-str port)/livereload.js"></script>
  »
</body>

</html>